.mb-my{
    margin-bottom: 1rem !important;
}
a{
    text-decoration: none !important;
    color: #0056b3 !important;
}
a:hover{
    color: #007bff !important;
}
.header-news{
 padding-left: 0px;
 padding-right: 0px;
}

.auto-note {
	font-size: 0.9rem;
	font-style: italic;
}

@media (max-width: 767px) {
    .header-card{
        font-weight: bold !important;
        font-size: 24px !important;
    }
    .resume-card{
        font-size: 18px !important;
    }
    .header-news{
        font-weight: bold !important;
        font-size: 24px !important;
    }
}

@media (min-width: 768px) {
    .paragraph-new{
        font-size: 1.1rem !important;
    }
    .header-news{
        font-weight: bold !important;
        font-size: 28px !important;
    }

}

@media (min-width: 992px) {
    .header-news{
        font-weight: bold !important;
        font-size: 34px !important;
    }
    .paragraph-new{
        font-size: 1.5rem !important;
    }
}
